body {
  background: #000;
  color: aliceblue;
}

.menus-btn-container {
  position: fixed;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  right: 0px;
  top: 5rem;
  z-index: 2;
}

.menus-btn {
  transition: opacity 0.5s, right 0s 2s;
}

.close-menus-btn {
  opacity: 0;
  position: absolute;
  top: 0.5rem;
}

button {
  background: none;
  border: none;
  padding: 0;
  display: block;
}

button svg {
  display: block;
}

nav {
  font-size: 2.5rem;
  margin-top: 4rem;
  width: 100vw;
  position: absolute;
  left: -100vw;
  top: 0;
  z-index: 1;
  transition: left 1s;
}

nav ul {
  list-style-type: none;
  margin-top: 0;
}

nav ul li {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.slide {
  left: 0;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
  transition: opacity 0.5s, right 0s 2s;
}